.link {
  position: relative;
  top: -3px;
  margin: 0 5px;
  padding: 3px 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 128%;
  color: #fdfdfd;
  text-decoration: none;
  background: #28a5eb;
  border-radius: 4px;
  white-space: pre;
  text-transform: uppercase;
}
